*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

nav{
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
    flex-wrap: nowrap;
}

nav a{
    padding: 0 20px;
    color: #000000;
}


nav a:hover{
    color: #ee0909;
}


@media (max-width:576px){
    /* Place the navbar at the bottom of the page, and make it stick */
nav {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    margin-bottom: 0;
    width: 100%;
    z-index: 1;
}

nav a {
    
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1rem;
}

}


/*BACKGROUND-IMAGE GOES HERE */
.header{
    background-image: url(../images/img.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    text-align: center;
    width: 100%;
    height: 80vh;
}



.top_content {
    display: flex;
    justify-content: center;
    align-items: center;
    
}



.store-name{
    color: white;
    letter-spacing: .9rem;
    font-size: 4rem;
    font-weight: bold;
} 



/* RELATED TO WEBSITE PIC */
.related_pics{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: gray;

}

.column img{
    width: 100%;
    height: 100px;
    margin-top: 20px;
    clip-path: circle(40%);
}

@media (max-width: 576px){
    .column img{
        z-index: 1;
    }
}

.about_text h4{
    text-align: center;
    margin: 10px 0px 100px 0px;
}



/*HOW TO PAWN*/
main{
    text-align: center;
    
}

.steps_container h2{
    letter-spacing: .5rem;
}

section{
    margin-bottom: 55px;
}

footer{
    background-color: gray;
    text-align: center;
}

.info_container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.social-media{
    display: flex;
    justify-content: space-around;
    
}

.social-media a{
    background-color: black;
    color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding-top: 6px;
    align-items: center;
    justify-content: center;
}

.copy_right{
    display: grid;
    grid-template-rows: repeat(2,1fr);
}

@media (max-width:576px){
    .info_container{
        grid-template-columns: repeat(1,1fr);
    }

    .catalog {
        display: grid;
        grid-template-columns: 1fr;
        margin-left: 35px;
        }
    
}
/* END OF FIRST PAGE */










/* LOAN PAGE */
.loan_related_pics{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: gray;
}

.column-2 img{
    width: 100%;
    height: 100px;
    margin-top: 20px;
    clip-path: circle(35%);
}











/* SELL PAGE */
.items_related_pics{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: gray;
}

.column-3 img{
    width: 100%;
    height: 100px;
    margin-top: 20px;
    clip-path: circle(44%);
}


/*CATALOG SECTION*/

.catalog{
    display: flex;
    justify-content: space-around;
    flex-flow: nowrap;
    
}



.list {
    
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    min-height: 400px;
    max-height: 600px;
    margin: 20px;
    text-align: center;
    font-family: arial;
    
}

.price {
    color: grey;
    font-size: 22px;
}

.catalog button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: black;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.catalog button:hover {
    opacity: 0.7;
}

@media (max-width:576px){
    .catalog{
        display: grid;
        grid-template-columns: 1fr;
        margin-left: 35px;
    }
}